body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 20px;
  text-align: center;
  background-color: #ec185d;
}
h1,
h2 {
  color: #333;
}
img {
  max-width: 35%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 16px;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 20px;
    word-wrap: break-word;
    max-width: 500px;
    font-weight: bold;
  }
}
